html {background-color: #328EE4
    

}

body{
    margin: 0;
}

header {

    position:fixed;
    top: 0;
    left: 0;
    .container {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 50px;
        padding-right: 30px;
    }

    
    background: #328EE4;
    color: #FFFFFF;
    width: 100%;
    

}
.hamburger {
    display: block;
    width: 60px;
    height: 50px;

    cursor: pointer;
    appearance:none;
    background:none;
    outline:none;
    border:none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: #f1f1f1;
    margin: 7px 0px;
    border-radius:10px
}

.fit-picture {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3; 
    z-index: -1; 
    border-radius: 10%;
}

.text {
    margin-left: 10px   ;
    margin-top: 150px;
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    font-size: 25px;        
    font-style: normal;
    color: whitesmoke;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 42px; /* Adjust the font size as needed */

}

footer{
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 150px;
    background: rgb(41, 92, 136);
 
}
 .form {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(27, 75, 118);
 }
 .form h4{
    margin:0px;
    padding:0px;
 }
 .form form label{
    margin:0px;
    padding:0px;
 }


h3::first-letter {
    font-size: 3rem; 
    font-weight: bold; 
    color: rgb(7, 34, 241); 
    margin-right: 5px; 
    text-shadow: 2px 2px 4px rgb(255, 255, 255); 
    line-height: 1; 
}

h2::selection {
    color: red;
    background-color: black
  }
