html {background-color: #328EE4
    

}

body{
    margin: 0;
}

header {

    position:fixed;
    top: 0;
    left: 0;
    .container {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 50px;
        padding-right: 30px;
    }

    
    background: #328EE4;
    color: #FFFFFF;
    width: 100%;
    

}
.hamburger {
    display: block;
    width: 60px;
    height: 50px;

    cursor: pointer;
    appearance:none;
    background:none;
    outline:none;
    border:none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: #f1f1f1;
    margin: 7px 0px;
    border-radius:10px
}

.fit-picture {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3; 
    z-index: -1; 
    border-radius: 10%;
}



.text {
    display: flex;
    flex-direction: column;
    margin-left: 10px   ;
    margin-top: 150px;
    margin-bottom: 100px;
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    font-size: 25px;        
    font-style: normal;
    color: whitesmoke;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 42px; 

}

footer{
    box-sizing: border-box;
    position: static;
    padding-bottom: 50px;
    width: 100%;
    background: rgb(41, 92, 136);
 
}
 .form form{
    display: flex;
    margin-right: 10rem;
    /* padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(27, 75, 118); */
 }


h3::first-letter {
    font-size: 3rem; 
    font-weight: bold; 
    color: rgb(7, 34, 241); 
    margin-right: 5px; 
    text-shadow: 2px 2px 4px rgb(255, 255, 255); 
    line-height: 1; 
}

h2::selection {
    color: red;
    background-color: black
}
.footer-container {
    display:flex;
    justify-content: space-between;
    color:#FFFFFF;
    margin: 0 auto;
}
.footer-1 {
    display:flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 10rem;
    
    font-size: 25px;

}

.footer-1 a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    
    
}

.footer-1 a:hover {
    color: aqua;
    transition: 0.3s ease-out;
}

.footer-1 a:visited {
    color: #FFFFFF;
}
.footer-1 a[href="https://github.com/Desperado1736/Group-Project-1-Ethan-and-Vedant"]:visited {
    color: #4c286a; 
}
.footer-1 a[href="https://www.youtube.com/shorts/PclZVqdHkw8"]:visited {
    color: #fa0a0a; 
}
.footer-1 a[href="https://www.youtube.com/shorts/z8EuI5bobe8"]:visited {
    color: hsl(57, 96%, 51%); 
}
.footer-1 a[href="https://www.youtube.com/shorts/dklomBtFzeU"]:visited {
    color: hsl(136, 96%, 51%); 
}

#mail {
    width:250px;
    height:40px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px; 
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Exo 2', sans-serif;
}

#mail::placeholder {
    color: #4c286a;
    font-family: 'Exo 2', sans-serif;
}

#button {
    width: 100px;
    height:42px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
}

#button:hover{
    cursor: pointer;
    background-color:rgb(134, 208, 208);
    transition: all 0.2s ease-in;
}

#mail:invalid{
    background-color: rgb(231, 120, 114);
}
p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(90, 233, 135);
  }

.images{
    display: flex;
}

.first-2 {
    width: 55%;
}

.seal-pic{
    width:45%;
    object-fit: contain;
    margin-right: 1rem;
    opacity: 0.8; 
    border-radius: 90%;
  
     
}
.first-2 div p{
    word-wrap: break-word;
}



.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #328EE4;
    text-decoration: none;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}

.tab:hover {
    background-color: #f1f1f1;
}


